@model LibraryManagerApp.Models.ViewModels.ReaderIndexViewModel

@{
	ViewData["Title"] = "Readers";
}

<section class="readers-page">


	<div class="readers-form-box">

		<h2>Dodaj nowego czytelnika</h2>




	</div>









</section>
