@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-layout">
    <aside class="dashboard-sidebar">
        <h2>Library Panel</h2>

        <a asp-controller="Dashboard" asp-action="Index" class="dashboard-btn menu-link">Dashboard</a>
        <a asp-controller="Author" asp-action="Index" class="dashboard-btn menu-link">Authors</a>
        <a href="#" class="dashboard-btn menu-link">Books</a>
        <a href="#" class="dashboard-btn menu-link">Categories</a>
        <a href="#" class="dashboard-btn menu-link">Readers</a>
        <a asp-controller="Home" asp-action="Index" class="dashboard-btn logout-btn menu-link">Logout</a>
    </aside>
    

    <section class="dashboard-content">
        <img src="~/images/library main.png" alt="Library" class="dashboard-image" />
    </section>
</div>