@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-layout">
    <aside class="dashboard-sidebar">
        <h2>Library Panel</h2>

        <button class="dashboard-btn">Dashboard</button>
        <button class="dashboard-btn">Authors</button>
        <button class="dashboard-btn">Books</button>
        <button class="dashboard-btn">Categories</button>
        <button class="dashboard-btn">Readers</button>
        <button class="dashboard-btn logout-btn">Logout</button>
    </aside>

    <section class="dashboard-content">
        <img src="~/images/library main.png" alt="Library" class="dashboard-image" />
    </section>
</div>