@{
	ViewData["Title"] = "Home Page";
}

<section class="home-hero">
	<img src="~/images/library main.png" alt="Library System" class="home-hero-image" />



	<div class="home-main-box">


		<div class="text-center">

			<h2>Logowanie: </h2>



			<div class="form-group mb-3">
				<label for="login">Login</label>
				<input type="text" id="login" class="form-control home-login-input"/>
			</div>

			<div class="form-group mb-3">
				<label for="password">Password</label>
				<input type="text" id="password" class="form-control home-login-input"/>

			</div>


		</div>



	</div>
</section>